{% extends 'user/base.html'  %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
	<h1 class="heading">{{pageName}}</h1>
</div>
	<div class="container model-view">
		<div class="d-flex">
			<a class="btn btn-md btn-dark mr-auto add-new my-2" href="{% url 'home' %}"><i class="fas fa-home  mr-1"></i>home</a>
			<a class="btn btn-md btn-success ml-auto add-new my-2" href="{% url 'subject-create' %}">+ Add New {{pageName}}</a>
		</div>
											<!-- search form -->
		<form  method="get">
			<div class="input-group my-3">
			  	{% render_field form.search type="search" placeholder="Search Here" class="form-control" value=request.GET.search %}
			  	<div class="input-group-append">
				    <button class="btn btn-primary" type="submit">Search</button>
			  	</div>
			</div>
		</form>
		{% if query %}
			<h2 class="m-3 font-weight-bold">Search Results For {{query}} :</h2>
		{% endif %}			

		{% if subjects %}
			<ul>
				{% for subject in subjects%}
					<li class="list-view">
						<a class="update" href="{% url 'subject-update' subject.pk %}">{{subject}}</a>
						<a class="dlt" href="{% url 'subject-delete' subject.pk %}">
							<i class="fas fa-trash-alt"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<div class="alert alert-warning">
				no content found
			</div>
		{% endif %}
		</div>
{% endblock %}