{% extends 'user/base.html' %}
{% block content %}
	<div class="container-fluid home">
		<h1 class="heading">add or remove data</h1>
		<div class="container card-container staff">
			<a  class="home-card" href="{% url 'subject' %}">
				<div><i class="fas fa-book-open"></i><h5>Subject</h5></div>
			</a>
			<a  class="home-card" href="{% url 'course' %}">
				<div><i class="fas fa-chalkboard-teacher"></i><h5>Course</h5></div>
			</a>
			<a  class="home-card" href="{% url 'data' %}">
				<div><i class="fas fa-user-graduate"></i><h5>Student</h5></div>
			</a>
			<a class="home-card" href="{% url 'data' %}">
				<div><i class="far fa-calendar-alt"></i><h5>Schedule</h5></div>
			</a>
		</div>
	</div>
{% endblock content %}