{% extends 'user/base.html'  %}
{% block content %}
<div class="container-fluid">
	<h1 class="heading">{{pageName}}</h1>
</div>
	<div class="container model-view">
		<div class="d-flex">
			<a class="btn btn-md btn-secondary mr-auto add-new my-2" href="{% url 'home' %}"><i class="fas fa-chevron-left mr-1"></i> Back</a>
			{% if user.is_staff %}
				<a class="btn btn-md btn-primary add-new my-2" href="{% url 'student-create' %}">+ Add New {{pageName}}</a>
			{% endif %}
		</div>

		<ul>
			{% for student in students %}
				<li class="list-view"><a class="update" href="{% url 'student-detail' student.pk %}"><span class="list-no"> {{student.roll_no}}</span> {{student.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}