body{
	font-family: 'Poppins', sans-serif;
	color: #333333;
}
.form-background{
	background: #12c2e9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.side-nav{
	background-color: black;
	padding-top:5rem;
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 0px;
	z-index:1000;
	overflow-x: hidden;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	}

.side-nav .user{
	cursor: none;
}
a.open-side-nav{
	position: fixed;
	top:50%;
	left:3rem;
	font-size: 5rem;
	color: white;
	display: inline-block;
	transform: translateY(-50%);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.side-nav a{
	display: block;
	color:#b7b6b6;
	font-size: 1.5rem;
	padding:0.7rem 3rem;
	text-transform: capitalize;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.side-nav a.close-btn{
	float: right;
	padding:0 2rem;
	margin-top: -4rem;
	font-size: 2.5rem;
}

.side-nav a:hover,.side-nav a:focus,a.open-side-nav:hover,a.open-side-nav:focus{
	text-decoration: none;
	color: white;
}

.main-form{
	background: white;
	border-radius: 10px;
	padding: 3rem;
	width: 420px;
}

.main-form .header{
	text-align: center;
	margin:2rem auto;
	font-weight: bold;
}

.main-form label {
	color:#333333;
	margin-top:1rem;
	font-size:0.9rem;
	transition: 0.3s;
}

.main-form input{
	width: 100%;
	border:none;
	border-bottom: 2px solid #33333380;
}

.main-form .form-button{
	border-radius: 20px;
	width: 100%;
	background-color: transparent;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 0.3rem;
	margin-top:1rem;
	overflow: hidden;
	position: relative;
	color: white;
	border:none;
	cursor: pointer;
	font-weight: 500;
	margin-bottom: 2rem;
}

.form-button span{
	position: relative;
	z-index: 1;
}

.main-form .form-button:before{
	content: '';
	height: 100%;
	width: 200%;
	margin-left:-100%;
	position: absolute;
	top:0;left:0;right: 0;bottom:0;
	z-index:0;
	background: #12c2e9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #12c2e9,#c471ed,  #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,  #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	filter:contrast(150%);
	-webkit-filter:contrast(150%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	}

.main-form .form-button:hover:before,.main-form .form-button:focus:before{
	margin-left: 0;
}

.main-form .errorlist li,.main-form .nonfield li{
	list-style: none;
	font-size: 0.9rem;
}

.home{
	min-height: 100vh;
	background-image: url('images/study.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.home .heading{
	font-size: 5vw;
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5vw;
	display: flex;
	height: 25vh;
	justify-content: center;
	align-items: center;
	animation-name: opacity;
	animation-duration: 2s;
}

@keyframes opacity{
	from{opacity: 0;}
	to{opacity: 1;}
}

.home h3.heading{
	font-size: 3vw;
	color: #333;
	height: 10VH;
}
.home .card-container{
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow-y: hidden;
}

.home-card{
	padding: 2vw;
	margin-right:3vw;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	max-width:16vw;
	max-height:16vw;
	text-align: center;
	align-items: center;
	transform: translateY(60vh);
	transition:0.3s;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	animation-name: fly-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes fly-in{
	0%{
		transform: translateY(70vh);
	}
	80%{
		transform: translateY(-5vh);
	}
	100%{
		transform: translateY(0vh);
	}
}

.home-card:last-of-type{
	margin-right: 0;
}

.home-card:nth-child(1){
	color:  #02c39a;
}
.home-card:nth-child(2){
	color:  #41C5D3;
	animation-delay: 0.3s;
}
.home-card:nth-child(3){
	color:  #FF4B4B;
	animation-delay: 0.6s;
}

.home-card:nth-child(4){
	color:  #4E67EB;
	animation-delay: 0.9s;
}


.home-card:hover{
	box-shadow: 0px 10px 20px  #333333;
	text-decoration: none;
	margin-top: -3vw;
}

.home-card h5{
	margin: 1vw auto;
	font-size: 1.3vw;
}

.home-card i{
	font-size: 9vw;
}

.model-view{ /* Data View*/
	background-color: #fffc;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 2vh;
}
.model-view ul{
	margin: 0;
	padding: 0;
}
.model-view .list-view{
	list-style: none;
	margin-left: 1rem;
	border-radius: 1rem;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}
.model-view .list-view a.update{
	color: #333;
	display:inline-block;
	padding: 0.5rem;
	width: 97%;
	text-decoration: none;
	font-weight: 500;
}
.model-view .list-view a.update:before{
	content: '\00BB';
	font-size: 1.5rem;
	padding: 0.5rem;
	visibility: hidden;
	color: #4E67EB;
	font-weight: bold;
}
.model-view .list-view:hover{
	background-color: rgba(0,0,0,0.2);
	margin-left: 0;
	font-size: 1.1rem;
}
.model-view .list-view a.update:hover:before{
	visibility: visible;
}
.model-view .list-view a.dlt{
	font-size: 1.5rem;
	color: #333;
}
.model-view .list-view a.dlt:hover{
	color: #dc3545;
	font-size: 1.6rem;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.model-view .list-view .list-no{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3vw;
	width: 3vw;
	font-size: 1vw;
	margin-right: 1rem;
	color: white;
	border-radius: 50%;
	background-color: black;
}
.add-new{
	border-radius: 1.4rem;
	text-transform: capitalize;
	font-weight: 500;
}

.back-btn{
	border-radius: 1.4rem;
	text-transform: capitalize;
}
.btn,button{
	font-weight: 500;
}

table.details{
	font-size: 1vw;
	font-weight: 500;
}
table.details td{border:none;text-transform: capitalize;}
table.details img{
	height: 10vw;
	width: 10vw;
	border-radius: 1rem;
	border:5px solid white;
}

table .custom-control-label::before{
	background: #fff;
}