{% extends 'user/base.html'  %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
	<h1 class="heading">{{pageName}}</h1>
</div>
	<div class="container model-view">
		<div class="d-flex">
			<a class="btn btn-md btn-dark mr-auto add-new m-2" href="{% url 'home' %}"><i class="fas fa-home  mr-1"></i> home</a>
			<a class="btn btn-md btn-info add-new m-2" href="{% url 'schedule' %}">Schedule</a>
		</div>
		<form  method="get">
			<div class="input-group my-3">
			  	{% render_field form.roll_no  placeholder="Enter Roll no" class="form-control" value=request.GET.roll_no %}
			  	{% render_field form.start_date type="date" placeholder="From Date" class="form-control" value=request.GET.start_date %}
			  	{% render_field form.end_date type="date" placeholder="To Date" class="form-control" value=request.GET.end_date %}
			  	
			  	 <div class="input-group-append">
				    <button class="btn btn-primary" type="submit">Search</button>

			  	</div>
			</div>
		</form>
		{% if query %}
			<h2 class="m-3 font-weight-bold">Attendance of {{query}} :</h2>
			<p>Name of Student : {{student_name}}</p>
			<p>Total no. of days : {{total_days}}</p>
			<p>Days Present : {{present_days}}</p>
			<p>Present Percentage : {{present}}</p>
			<a href="{% url 'pdf-gen' request.GET.roll_no request.GET.start_date request.GET.end_date %}"class="btn btn-success my-3" type="submit" name="pdf-gen">Genrate Pdf</a>
		{% endif %}



		{% if attendance %}
			<table class="table table-hover details">
				<thead>
					<td>Attendance</td>
					<td>Date</td>
				</thead>
				{% for detail in attendance %}
					<tr>
						<td>
							{% if detail.mark %}
								Present
							{% else %}
								Absent
							{% endif %}
						</td>
						<td>{{detail.lecture_date|date:"d F, Y"}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock %}